In [5]:
import pandas as pd
import scipy.stats as stats

In [3]:
df = pd.read_csv('data/net_returns.csv')
df.head()

         date    return
0  2014-11-30  0.011636
1  2014-12-31  0.021954
2  2015-01-31  0.040887
3  2015-02-28 -0.002511
4  2015-03-31  0.017259

In [12]:
stats = stats.ttest_1samp(df['return'], 0.0)
stats

Ttest_1sampResult(statistic=0.7596352254139472, pvalue=0.4532110164092482)

In [13]:
stats[0], stats[1]/2 # one sided t-test

(0.7596352254139472, 0.2266055082046241)