### Estimate Volatility

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('data/prices.csv', delimiter=',')
df.head()

        price        date
0  558.460000  2013-07-02
1  556.617926  2013-07-03
2  558.441898  2013-07-05
3  556.181508  2013-07-08
4  558.742118  2013-07-09

In [10]:
prices = df.price

In [14]:
# calculate returns
returns = (prices-prices.shift(1))/prices.shift(1)
returns

0            NaN
1      -0.003298
2       0.003277
3      -0.004048
4       0.004604
          ...
1003   -0.006859
1004    0.004243
1005   -0.005225
1006   -0.004771
1007    0.004030
Name: price, Length: 1008, dtype: float64

In [18]:
# compare with implemented function
prices.pct_change()

0            NaN
1      -0.003298
2       0.003277
3      -0.004048
4       0.004604
          ...
1003   -0.006859
1004    0.004243
1005   -0.005225
1006   -0.004771
1007    0.004030
Name: price, Length: 1008, dtype: float64

In [23]:
# calculate log returns
np.log(returns+1)[:5], np.log(prices/prices.shift(1))[:5]

(0         NaN
 1   -0.003304
 2    0.003272
 3   -0.004056
 4    0.004593
 Name: price, dtype: float64,
 0         NaN
 1   -0.003304
 2    0.003272
 3   -0.004056
 4    0.004593
 Name: price, dtype: float64)

In [26]:
# log notation
(np.log(prices)-np.log(prices.shift(1)))[:5]

0         NaN
1   -0.003304
2    0.003272
3   -0.004056
4    0.004593
Name: price, dtype: float64

In [39]:
import pandas as pd
import numpy as np

def estimate_volatility(prices, l):
    """Create an exponential moving average model of the volatility of a stock
    price, and return the most recent (last) volatility estimate.
    
    Parameters
    ----------
    prices : pandas.Series
        A series of adjusted closing prices for a stock.
        
    l : float
        The 'lambda' parameter of the exponential moving average model. Making
        this value smaller will cause the model to weight older terms less 
        relative to more recent terms.
        
    Returns
    -------
    last_vol : float
        The last element of your exponential moving averge volatility model series.
    
    """
    log_returns = (np.log(prices/prices.shift(1)))
    log_returns_power = log_returns**2
    exp_smoothed_returns = log_returns_power.ewm(alpha=1-l).mean()
    last_value = exp_smoothed_returns.values[-1]
    return np.sqrt(last_value)
    
def test_run(filename='data/prices.csv'):
    """Test run get_most_volatile() with stock prices from a file."""
    prices = pd.read_csv(filename, parse_dates=['date'], index_col='date', squeeze=True)
    print("Most recent volatility estimate: {:.6f}".format(estimate_volatility(prices, 0.7)))


if __name__ == '__main__':
    test_run()

Most recent volatility estimate: 0.004941